# Loops Exercises

In [24]:
# Print numbers -1 to -10 and -10 to -1 using a while loop and a for loop (loop for increment; loop for)


# Type your code above this line

In [23]:
# Print numbers 1 to 10 and 10 to 1 using a while loop and a for loop (loop for increment; loop for)


# Type your code above this line

In [2]:
# Print the following pattern using a while loop and a for loop

# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5





# Type your code above this line

In [3]:
# Calculate the sum of all the numbers between 0 and 20 inclusive using both a while loop and a for loop



# Type your code above this line

In [5]:
# Mutliply only the odd numbers between 0 and 20 by 2 using both a while loop and a for loop
# Return the results in a list called list1



# Type your code above this line

In [6]:
# Reverse list1 using both a while loop and a for loop



# Type your code above this line

In [7]:
# Print the following pattern using while loops and a for loops (can use more than 1 loop)

# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5
# 1 2 3 4
# 1 2 3
# 1 2 
# 1




# Type your code above this line

In [17]:
list_comprehension = [59, 30, 47, 49, 58, 66, 36, 99, 29, 11, 21, 3, 7, 63, 55, 67, 94, 39, 42, 18]

# Using list comprehension find the following:
# sum, average, min, max




# Type your code above this line