# Exercises

### Print Statements

In [3]:
print("This is a string")

This is a string

In [5]:
print("This is also a string but I'm not too sure")

This is also a string but I'm not too sure

In [12]:
print('This is a string too but there is another problem')

# Python cannot have indentations outside of a logic block (if/for/function/class)
# But Jupyter will still run the python code regardless of the indentation

This is a string too but there is another problem

In [11]:
# choose whatever method you're comfortable with
# Multi-line Print statement

print('''
      Fix me
      Pretty
      Please
      ''')

      Fix me
      Pretty
      Please

### Strings

In [14]:
var = 'This is a string'

In [20]:
# print only the following 'is a str' from above
var[0:13]

# Type your code above this line

'This is a str'

In [25]:
# print every other letter from 'var' using indexing
var[::2]

# Type your code above this line

'Ti sasrn'

In [22]:
# Uppercase the entire string
var.upper()

# Type your code above this line

'THIS IS A STRING'

In [29]:
# Split the string and store the results in a new variable 'split_string'
split_string = var.split()
split_string

# Type your code above this line

['This', 'is', 'a', 'string']

In [36]:
# Join the variable 'split_string' with '***' as the delimter
'***'.join(split_string)

# Type your code above this line

'This***is***a***string'

### Integers

In [37]:
number = 50

In [42]:
# fix the following formula so the output passes the test

result = number * (number - number) / number + number

# Change only the code above this line
# Hint PEMDAS

if result == number:
    print('You got it!', result)
else:
    print('Not quite, try Again', result)

You got it! 50.0

### Conversion

In [44]:
str1 = '2'
num1 = 5

In [48]:
# output the number 25 using  str1 and num1
# Hint check data types
print(str1 + str(num1))


# Type your code above this line

25

In [52]:
# output the number 7 using  str1 and num1
print(int(str1) + num1)

# Type your code above this line

7

In [56]:
# output the number 22222 using only str1 1 time
# Hint: PEMDAS
print(str1 * num1)

# We can use multiplication with strings and numbers
# Cannot use other math symbols between strings and integers

# Type your code above this line

22222

### Different kinds of Print statement with Variables

In [57]:
first_name = 'John'
last_name = 'Doe'

In [71]:
# print 'Hello John Doe, welcome to the Python Data Sciences Course'
# Use comma separated values
print('Hello', first_name, last_name, ', welcome to the Python Data Sciences Course')

# Type your code above this line

Hello John Doe , welcome to the Python Data Sciences Course

In [67]:
# print 'Hello John Doe, welcome to the Python Data Sciences Course'
# Use string concatenation
print('Hello ' + first_name + ' ' + last_name + ', welcome to the Python Data Sciences Course')


# Type your code above this line

Hello John Doe, welcome to the Python Data Sciences Course

In [72]:
# print 'Hello John Doe, welcome to the Python Data Sciences Course'
# Use string formatting
print(f'Hello {first_name} {last_name}, welcome to the Python Data Sciences Course')

# Type your code above this line

Hello John Doe, welcome to the Python Data Sciences Course