# Functions Cheat Sheet (Basic)


### What are Functions?
A way to extract code from the main program and run it only when we want to


### Why do we use Functions?
Re-usable code block that does the same thing over and over

We can call on functions from within our program or from other programs


### Creating a Function

All functions start with the `def` keyword  
Followed by the name of the function so we can call it again  
And finally some form of return statement (**None** by default)

`
def name_of_function():
    return None
`

### Calling a Function

This way, the parentheses at the end are important  
the parentheses can also take values or arguments  
`name_of_function()`

NOT THIS WAY  
`name_of_function`

#### Arguments

###### Basic arguments
Basic arguments are passed in a set order

`
def name_of_function(num):
    return num
`

Example Sum Function:  
`
def sum(num1, num2):
    return num1 + num2
`

###### The Return statement
Very important but not required

Default in every function if a return value is not specified is **None**

Commonly to exit out of the function once a condition is met

Can Return multiple values either in a list or dictionary  
Default for mutliple return values is a Tuple

### Tuples
Very similar to a list but lists are mutable, Tuples are **NOT MUTABLE**, ie not changeable

Is ordered, can slice, can index, can store multiple data types but  
**Cannot change any values within a Tuple, must re-assign**

###### Tuple Unpacking
We have a multiple return values how do we get them into individual values?

`
tuple1 = (1,2,3)
one, two, three = tuple1
`

In [19]:
def name_of_function():
    return 'Success'

In [17]:
name_of_function

In [20]:
name_of_function()

'Success'

In [21]:
list1 = [name_of_function]

In [22]:
list1

In [24]:
list1[0]('test string')

TypeError: name_of_function() takes 0 positional arguments but 1 was given

In [25]:
# Positional Arguments

def function(num):
    return num

In [32]:
function('positional argument')

'positional argument'

In [37]:
sum([1,2,3])

6

In [49]:
# When I created def sum, I overwrote the built-in Python sum function

def my_sum(num1, num2):
    return num1 + num2

In [51]:
# sum([1,2,3])

my_sum([1,2,3], [1,2,3])


# If I overwrite a built-in function in python, then I can del my built-in function

# We saw this with dictionaries
# del sum

[1, 2, 3, 1, 2, 3]

In [52]:
def return_multiple():
    return 'This is one', 'This is two'

In [53]:
return_multiple()

('This is one', 'This is two')

In [54]:
type(return_multiple())

tuple

In [55]:
tuple1 = (1,2,'3', [4,5], {'a':1, 'b':2})

In [56]:
tuple1

(1, 2, '3', [4, 5], {'a': 1, 'b': 2})

In [59]:
tuple1[3]

[4, 5]

In [60]:
tuple1[3] = 'New Variable'

TypeError: 'tuple' object does not support item assignment

In [61]:
output = return_multiple()

In [62]:
output

('This is one', 'This is two')

In [67]:
one, two, three = return_multiple()

ValueError: not enough values to unpack (expected 3, got 2)

In [64]:
one, two

('This is one', 'This is two')

In [65]:
one

'This is one'

In [66]:
two

'This is two'

In [68]:
# Un-pack tuple1

tuple1

(1, 2, '3', [4, 5], {'a': 1, 'b': 2})

In [69]:
one, two, three, list1, dict1 = tuple1

In [70]:
tuple1

(1, 2, '3', [4, 5], {'a': 1, 'b': 2})

In [71]:
one

1

In [72]:
two

2

In [73]:
three

'3'

In [74]:
list1

[4, 5]

In [75]:
dict1

{'a': 1, 'b': 2}

In [76]:
# Wrapping a For Loop in a function


for item in tuple1:
    print(item)

1
2
3
[4, 5]
{'a': 1, 'b': 2}

In [77]:
def tuple_wrapper(tup):
    for item in tup:
        print(item)

In [78]:
tuple_wrapper(tuple1)

1
2
3
[4, 5]
{'a': 1, 'b': 2}

In [79]:
tuple2 = (7,8,9)

In [80]:
tuple_wrapper(tuple2)

7
8
9