# Pandas Importing Exporting Data

### Most common file types (but not limited to)

- CSV
- Excel
- SQL
- HTML
- XML


### Import Data

Import Raw Data only, no formulas or format specific content

`pd.read_IMPORT_TYPE('location_of_file_to_import')`


### Export 

Requires a DataFrame already to be created

`df.to_EXPORT_TYPE('location_of_where_to_output')`

### Suggested Data Sets to experiment with

- Titanic (https://www.kaggle.com/datasets/brendan45774/test-file)
- Stack Overflow Developer Survey (https://insights.stackoverflow.com/survey/)
- Any Data Set you are interested in (https://www.kaggle.com)

In [38]:
import pandas as pd
import numpy as np

In [50]:
# Import data

# From Excel, if no sheet it specified, Sheet1 is calle automatically

pd.read_excel('Pandas Tutorial.xlsx', sheet_name='Sheet3')

    1.0   2.0   3.0
0   4.0   5.0   6.0
1   7.0   8.0   9.0
2  10.0  11.0  12.0

In [52]:
# Import from CSV

df = pd.read_csv('Pandas Tutorial - Sheet1.csv')

In [53]:
df

,Pandas is Excel for Python,Unnamed: 1,Unnamed: 2
0,DATAFRAME - Multiple set of SERIES,NaN,NaN
1,SERIES,SERIES,NaN
2,Series 1-dimensional array stacked on top of e...,NaN,NaN
3,1 column,NaN,NaN
4,Multiple Rows,NaN,NaN
5,NaN,NaN,NaN
6,NaN,NaN,NaN
7,NaN,NaN,NaN
8,Data Series1,Data Series 2,NaN
9,1,10,11
10,2,20,21
11,3,30,33
12,4,40,Nan
13,NaN,NaN,Nan

In [54]:
# Export - in order to export we must have a data frame created already

df.to_csv('PandasOutCSV.csv')

In [56]:
df = pd.read_csv('Titanic.csv')

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [60]:
so = pd.read_csv('survey_results_public.csv')

In [62]:
so.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [63]:
so.iloc[0]

ResponseId                                                                      1
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                  Slovakia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          18 - 24 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                     NaN
YearsCodePro                                                                  NaN
DevType                                                         Developer, mobile
OrgSize                                                        20 to 99 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4800.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith              C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
LanguageWantToWorkWith                                                      Swift
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                                     SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Laravel;Symfony
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                                       PHPStorm;Xcode
NEWCollabToolsWantToWorkWith                                           Atom;Xcode
OpSys                                                                       MacOS
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                            Yes, definitely
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       62268.0
Name: 0, dtype: object

In [65]:
so['Currency'].value_counts()

USD\tUnited States dollar      14363
EUR European Euro              13932
INR\tIndian rupee               6427
GBP\tPound sterling             3547
CAD\tCanadian dollar            2108
                               ...
PGK\tPapua New Guinean kina        1
CDF\tCongolese franc               1
none\tCook Islands dollar          1
TOP\tTongan paâ€™anga                1
ERN\tEritrean nakfa                1
Name: Currency, Length: 146, dtype: int64