# Pandas Importing Exporting Data Exercises

In [23]:
# Import pandas as pd and numpy as np

import pandas as pd
import numpy as np

# Type your code above this line

In [33]:
# Import the Excel Spreadsheet 'Import Export Exercises.xlsx' into a dataframe

df = pd.read_excel('Import Export Exercises.xlsx')

# Fill in the Nan values with 'h'
df = df.fillna('h')

# Change the index to be the column with Row1-Row4
df = df.set_index('Unnamed: 0')

# Change the name of the column to be 'Rows'
df.index.names = ['Rows']

df




# Type your code above this line

     Column1 Column2 Column3 Column4
Rows
Row1       a       b       a       b
Row2       c       d       c       d
Row3       e       f       e       f
Row4       g       h       g       h

  Unnamed: 0 Column1 Column2 Column3 Column4
0       Row1       a       b       a       b
1       Row2       c       d       c       d
2       Row3       e       f       e       f
3       Row4       g     NaN       g     NaN

In [43]:
# Import the following dataset from Kaggle (https://www.kaggle.com/datasets/jealousleopard/goodreadsbooks)

# Warning: You will get errors - Google how to fix them or look for another Kaggle Article on the GoodReads Dataset

df = pd.read_csv('books.csv', on_bad_lines='warn')
df.head()
# How many entries are in our dataset?
# 11123

# How many columns are in our dataset?
# 12

# What is the 'mean' rating for all the books in our dataset?
# df['average_rating'].mean()
df.describe()


df[df['average_rating'] == 5.0]






# Type your code above this line

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
624,2034,Comoediae 1: Acharenses/Equites/Nubes/Vespae/P...,Aristophanes/F.W. Hall/W.M. Geldart,5.0,0198145047,9780198145042,grc,364,0,0,2/22/1922,Oxford University Press USA
786,2560,Willem de Kooning: Late Paintings,Julie Sylvester/David Sylvester,5.0,382960226X,9783829602266,eng,83,1,0,9/1/2006,Schirmer Mosel
855,2843,Literature Circle Guide: Bridge to Terabithia:...,Tara MacCarthy,5.0,0439271711,9780439271714,eng,32,4,1,1/1/2002,Teaching Resources
1243,4287,Middlesex Borough (Images of America: New Jersey),Middlesex Borough Heritage Committee,5.0,0738511676,9780738511672,eng,128,2,0,3/17/2003,Arcadia Publishing
4125,14741,Zone of the Enders: The 2nd Runner Official St...,Tim Bogenn,5.0,0744002354,9780744002355,eng,128,2,0,3/6/2003,BradyGames
4788,17224,The Diamond Color Meditation: Color Pathway to...,John Diamond,5.0,1890995525,9781890995522,eng,74,5,3,2/1/2006,Square One Publishers
4933,17830,Bulgakov's the Master and Margarita: The Text ...,Elena N. Mahlow,5.0,0533017424,9780533017423,eng,202,4,0,1/1/1975,Vantage Press
5023,18184,The Complete Theory Fun Factory: Music Theory ...,Ian Martin/Katie Elliott,5.0,0851621813,9780851621814,eng,96,1,0,6/1/2004,Boosey & Hawkes Inc
5474,19786,The Goon Show Volume 4: My Knees Have Fallen ...,NOT A BOOK,5.0,0563388692,9780563388692,eng,2,3,0,4/1/1996,BBC Physical Audio
5476,19788,The Goon Show Volume 11: He's Fallen in the W...,NOT A BOOK,5.0,0563388323,9780563388326,eng,2,2,0,10/2/1995,BBC Physical Audio
5647,20954,Winchester Shotguns,Dennis Adler/R.L. Wilson,5.0,0785821082,9780785821083,eng,372,2,0,5/15/2008,Chartwell Books
5648,20957,Colossians and Philemon: A Critical and Exeget...,R. McL. Wilson,5.0,0567044718,9780567044716,eng,512,1,0,12/7/2005,T&T Clark Int'l
6184,23276,Taxation of Mineral Rents,Ross Garnaut,5.0,0198284543,9780198284543,eng,350,1,0,11/17/1983,Oxford University Press USA
6247,23552,The New Big Book of America,Todd Davis/Marc Frey,5.0,0762412631,9780762412631,eng,56,2,1,3/21/2002,Courage Books
6775,25426,Delwau Duon: Peintiadau Nicholas Evans = Symph...,Nicholas Evans/Rhonda Evans,5.0,0862431352,9780862431358,wel,150,1,0,6/22/1987,Y Lolfa
8544,32823,Fanning the Flame: Bible Cross and Mission,Chris Green/Chris Wright/Paul Douglas Gardner,5.0,0310249872,9780310249870,eng,336,1,1,6/17/2003,Zondervan
9282,36492,Oliver Wendell Holmes in Paris: Medicine Theo...,William C. Dowling,5.0,1584655801,9781584655800,eng,179,1,1,2/28/2007,University Press of New England
9324,36853,Tyrannosaurus Wrecks (Stanley #1),Laura Driscoll/Alisa Klayman-Grodsky/Eric ...,5.0,0786845031,9780786845033,eng,24,2,1,2/1/2003,Disney Press
9720,38804,The Irish Anatomist: A Study of Flann O'Brien,Keith Donohue,5.0,1930901356,9781930901353,eng,222,1,0,7/25/2003,Academica Press
9847,39580,The American Campaign: U.S. Presidential Campa...,James E. Campbell,5.0,089096940X,9780890969403,eng,314,0,0,5/1/2000,Texas A&M University Press
9893,39829,His Princess Devotional: A Royal Encounter Wit...,Sheri Rose Shepherd,5.0,1590529626,9781590529621,eng,240,2,0,10/16/2007,Multnomah
10262,41639,Bill Gates: Computer Legend (Famous Lives),Sara Barton-Wood,5.0,0739844326,9780739844328,eng,48,0,0,11/1/2001,Raintree

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11123 non-null  int64
 1   title               11123 non-null  object
 2   authors             11123 non-null  object
 3   average_rating      11123 non-null  float64
 4   isbn                11123 non-null  object
 5   isbn13              11123 non-null  int64
 6   language_code       11123 non-null  object
 7     num_pages         11123 non-null  int64
 8   ratings_count       11123 non-null  int64
 9   text_reviews_count  11123 non-null  int64
 10  publication_date    11123 non-null  object
 11  publisher           11123 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB
None
             bookID  average_rating        isbn13     num_pages  \
count  11123.000000    11123.000000  1.112300e+04  11123.000000
mean   21310.856963        3.934075  9.759880e+12    336.405556
std    13094.727252        0.350485  4.429758e+11    241.152626
min        1.000000        0.000000  8.987060e+09      0.000000
25%    10277.500000        3.770000  9.780345e+12    192.000000
50%    20287.000000        3.960000  9.780582e+12    299.000000
75%    32104.500000        4.140000  9.780872e+12    416.000000
max    45641.000000        5.000000  9.790008e+12   6576.000000

       ratings_count  text_reviews_count
count   1.112300e+04        11123.000000
mean    1.794285e+04          542.048099
std     1.124992e+05         2576.619589
min     0.000000e+00            0.000000
25%     1.040000e+02            9.000000
50%     7.450000e+02           47.000000
75%     5.000500e+03          238.000000
max     4.597666e+06        94265.000000